/* Styling across the website:   */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Containers:  */
.container-fluid {
  padding: 7% 15%;
}

/* Sections:   */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

/* Title Section:   */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-button {
  margin: 5% 3% 5% 0%
}

.iphonemockup {
  position: absolute;
  right: 30%;
  transform: rotate(20deg);
  width: 60%;
  z-index: 0;
}

/* Feature section */
#features {
  position: relative;
  z-index: 1;
}

.fa-check-circle, .fa-bullseye, .fa-heart {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-check-circle:hover, .fa-bullseye:hover, .fa-heart:hover {
  color: #ff4c68;
}

.featureblock {
  padding: 3% 7%
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials Section:  */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section:  */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section:  */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call To Action (cta) Section:  */
/* Footer Section:  */
.footicon {
  margin: 3% 1%;
}

.back-home-text {
  margin-bottom: 0px;
  font-size: 1rem;
}

/* Media Queries:  */
@media (max-width: 1028px) {
  .iphonemockup {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}