body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.titletext {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 10%;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0%
}

/* title image */
.iphonemockup {
  transform: rotate(25deg);
  width: 60%;
}

/* icons */
.fa-check-circle, .fa-bullseye, .fa-heart {
  color: #ef8172;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.fa-check-circle:hover, .fa-bullseye:hover, .fa-heart:hover {
  color: #ff4c68;
}

/* text in feature block */
.featureblock {
  text-align: center;
  padding: 8%;
}

h3.details {
  font-weight: bold;
  font-size: 1.5rem;
}

p.details {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonialimage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}